@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 400;
    src: local('Rawline'),url(../rawline-400.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 400;
    src: local('Rawline'),url(../rawline-400i.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 250;
    src: local('Rawline'),url(../rawline-100.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 250;
    src: local('Rawline'),url(../rawline-100i.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 275;
    src: local('Rawline'),url(../rawline-200.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 275;
    src: local('Rawline'),url(../rawline-200i.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 300;
    src: local('Rawline'),url(../rawline-300.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 300;
    src: local('Rawline'),url(../rawline-300i.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 500;
    src: local('Rawline'),url(../rawline-500.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 500;
    src: local('Rawline'),url(../rawline-500i.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 600;
    src: local('Rawline'),url(../rawline-600.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 600;
    src: local('Rawline'),url(../rawline-600i.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 700;
    src: local('Rawline'),url(../rawline-700.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 700;
    src: local('Rawline'),url(../rawline-700i.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 800;
    src: local('Rawline'),url(../rawline-800.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 800;
    src: local('Rawline'),url(../rawline-800i.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: normal;
    font-weight: 900;
    src: local('Rawline'),url(../rawline-900.html) format('woff')
}

@font-face {
    font-family: rawline;
    font-style: italic;
    font-weight: 900;
    src: local('Rawline'),url(../rawline-900i.html) format('woff')
}
